# Function 
### print ชื่อ XXX นามสกุล YYY  รหัส ZZZ
### print เกรด วิชา stat 1 >>> AAA

In [4]:
a = ' ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2 ' 
print(a)

 ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [5]:
name = 'กาญจนา'
surname = 'ประสาคุณ'
ID = '603021855-2'

b = f'ชื่อ {name} ประสาคุณ {surname} รหัส {ID}'
print(b)

ชื่อ กาญจนา ประสาคุณ ประสาคุณ รหัส 603021855-2

#### def ตามด้วยชื่อของฟังก์ชั่น

``` python
def function_name(x):
        do_someting
        return y
```

In [ ]:
def print_line1():
    
     return

In [46]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [22]:
print(print_line1(' กาญจนา' , ' ประสาคุณ ' , ' 603021855-2 '))

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2

In [49]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [35]:
print_2lines(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ', ' A ')

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  A

In [50]:
print_2lines(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ', ' c ')
print_2lines(' นพภเกตุน์ ' , ' คนคง ', ' 603021868-3 ', ' c+ ')
print_2lines(' ภานรินทร์ ' , ' อิ่นแก้ว ', ' 603021110-2 ', 'B ')
print_2lines(' พงศ์ศิริเดช ' , ' ศิลปษา ', ' 603021874-8 ', ' B+ ')

ชื่อ  กาญจนา  นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  c
ชื่อ  นพภเกตุน์  นามสกุล  คนคง  รหัส  603021868-3
เกรดวิชา stat1 >>>  c+
ชื่อ  ภานรินทร์  นามสกุล  อิ่นแก้ว  รหัส  603021110-2
เกรดวิชา stat1 >>> B
ชื่อ  พงศ์ศิริเดช  นามสกุล  ศิลปษา  รหัส  603021874-8
เกรดวิชา stat1 >>>  B+

### function without output

In [42]:
print_2lines(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ', ' c ')

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  c

In [53]:
def print_2lines_er(name1,surname1,ID1,grade):
    st = f'ชื่อ {name} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [54]:
print_2lines_er(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ', ' c ')

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  c

### function without input

In [73]:
def two_x_three():
    x = 2*3
    return x

In [74]:
two_x_three()

6

### function with default argument

In [65]:
def print_2lines_default(name1,surname1,ID1,grade=' F '):
    st = f'ชื่อ {name} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [66]:
print_2lines_default(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ')

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  F

In [68]:
print_2lines_default(' กาญจนา ' , ' ประสาคุณ ', ' 603021855-2 ', ' A+ ')

ชื่อ กาญจนา นามสกุล  ประสาคุณ  รหัส  603021855-2
เกรดวิชา stat1 >>>  A+

In [70]:
print_2lines_default(surname1 = 'กาญจนา' ,name1 = 'ประสาคุณ' , ID1 = '603021855-2')

ชื่อ กาญจนา นามสกุล กาญจนา รหัส 603021855-2
เกรดวิชา stat1 >>>  F

# Loop (วนซ้ำ)
### การวนลูปของการทำงานของกลุ่มคำสั่ง

```python
for each_member in listA:
     do something
```

In [75]:
for i in [1,2,3]:
      print(i)

1
2
3

In [79]:
for i in 'Thanapong':
     print(f' {i} -> / ')

 T -> /
 h -> /
 a -> /
 n -> /
 a -> /
 p -> /
 o -> /
 n -> /
 g -> /

In [84]:
for i in 'Thanapong':
     print(f' {i} -> / ')
     print( ' ' )

 T -> /

 h -> /

 a -> /

 n -> /

 a -> /

 p -> /

 o -> /

 n -> /

 g -> /

### 1 สร้าง List ชื่อเพื่อนที่อยู่ในแถวเดียวกัน 
### 1.5 สร้าง function print  ประโยคว่า xxxเรา YYYความรู้สึก zzzเพื่อน ทุกคนในแถว
###  2 วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

#### ข้อ 1

In [87]:
for i in ['ฟาง','เกตุน์','ไอซ์','โด้','แบงค์']:
     print(i)

ฟาง
เกตุน์
ไอซ์
โด้
แบงค์

#### ข้อ 1.5

In [95]:
for i in 'เกตุน์','ไอซ์','โด้','แบงค์':
     print(f' ฟางรักเพื่อน{i} ')
     print( ' ' )

 ฟางรักเพื่อนเกตุน์

 ฟางรักเพื่อนไอซ์

 ฟางรักเพื่อนโด้

 ฟางรักเพื่อนแบงค์

#### ข้อ 2

In [115]:
friend_list = ['เกตุน์','ไอซ์','โด้','แบงค์']

In [131]:
def print_feeling(I,feeling,friend):
      print(f' {I} {feeling} {friend}')

In [117]:
print_feeling('ฟาง' , 'รักเพื่อน' , 'เกตุน์')

 ฟาง รักเพื่อน เกตุน์

In [118]:
for f in friend_list:
    print_feeling('ฟาง' , 'รักเพื่อน' ,f)

 ฟาง รักเพื่อน เกตุน์
 ฟาง รักเพื่อน ไอซ์
 ฟาง รักเพื่อน โด้
 ฟาง รักเพื่อน แบงค์

# Loop in function
### สร้างลูปเข้าไปในฟังก์ชั่น

In [119]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f' {I} {feeling} {friend}')

In [120]:
print_feelings('ฟาง' , 'รักเพื่อน' , friend_list)

 ฟาง รักเพื่อน เกตุน์
 ฟาง รักเพื่อน ไอซ์
 ฟาง รักเพื่อน โด้
 ฟาง รักเพื่อน แบงค์

# Loop in dict 
### วนลูปในดิก
#### ตัวข้างหน้าคือดิก ตัวข้างหลังคือค่า

In [122]:
name_grade = {'พันทิพา':'B','ศุภนิตา':'C','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [123]:
name_grade['ปนัดดา']

'A'

In [125]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [126]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [127]:
for i in name_grade.keys():
    print(f' {i} ได้เกรด {name_grade[i]}' )

 พันทิพา ได้เกรด B
 ศุภนิตา ได้เกรด C
 ปนัดดา ได้เกรด A
 ทรงกลด ได้เกรด F

## Loop in loop 
### ลูปซ้อนลูป สามารถซ้อนลูปเข้าไปหลายรอบได้

In [128]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'รัก',name2)

 เกตุน์ รัก เกตุน์
 เกตุน์ รัก ไอซ์
 เกตุน์ รัก โด้
 เกตุน์ รัก แบงค์
 ไอซ์ รัก เกตุน์
 ไอซ์ รัก ไอซ์
 ไอซ์ รัก โด้
 ไอซ์ รัก แบงค์
 โด้ รัก เกตุน์
 โด้ รัก ไอซ์
 โด้ รัก โด้
 โด้ รัก แบงค์
 แบงค์ รัก เกตุน์
 แบงค์ รัก ไอซ์
 แบงค์ รัก โด้
 แบงค์ รัก แบงค์

# conditional ประโยคเงื่อนไข

```python
if condition1:
     do something
elif condition2:
    do another thing
else:
    do ...
```

####  วนไม่ให้ชื่อเดิมวนมาหากัน

In [133]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
         print_feeling(name1,'รัก',name2)

 เกตุน์ รัก ไอซ์
 เกตุน์ รัก โด้
 เกตุน์ รัก แบงค์
 ไอซ์ รัก เกตุน์
 ไอซ์ รัก โด้
 ไอซ์ รัก แบงค์
 โด้ รัก เกตุน์
 โด้ รัก ไอซ์
 โด้ รัก แบงค์
 แบงค์ รัก เกตุน์
 แบงค์ รัก ไอซ์
 แบงค์ รัก โด้

#### หลังคอนดิชั่นเป็นได้แค่ true กับ false

In [138]:
if True:
    print('Yes')

Yes

In [139]:
if False:
    print('No')

In [140]:
if False:
    print('Yes')
else:
    print('No')

No

In [141]:
1 == 1

True

In [142]:
if 1 == 1:
    print('1=1')

1=1

#### เครื่องหมายที่ใช้กับ condition
#### == , != , >= , <= , < , >  ตัวข้างหน้ามากกว่าหรือเท่ากับตัวข้างหลัง,ตัวข้างหน้าน้อยกว่าหรือเท่ากับตัวข้างหลัง

# HW 
### เขียนฟังก์ชั่นตัดเกรดโดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
#### input ให้เป็นลิสต์  [ 1 , 50 , 65 , 90 , 101 , -5 , 49 ]

In [59]:
Grad = ['A','B+','B','C+','C','D+','D','F']

### input คะแนน (1 , 50 , 65 , 90 , 101 , -5 , 49 ) ลงไป จะได้เป็นเกรดออกมา
#### input คะแนน 90 เกรดที่ได้คือ A

In [4]:
print('Grad')
score=int(input('คะแนนทั้งหมด:'))
if score>=80 and score<=100:
   print('คะแนน',score,'เกรด A')
elif score>=75 and score<=79:
   print('คะแนน',score,'เกรด B+')
elif score>=70 and score<=74:
   print('คะแนน',score,'เกรด B')
elif score>=65 and score<=69:
   print('คะแนน',score,'เกรด C+')
elif score>=60 and score<=64:
   print('คะแนน',score,'เกรด C')
elif score>=55 and score<=59:
   print('คะแนน',score,'เกรด D+')
elif score>=50 and score<=54:
   print('คะแนน',score,'เกรด D')
elif score>=0 and score<=49:
   print('คะแนน',score,'เกรด F')
else:
   print('error')

Grad
คะแนนทั้งหมด:90
คะแนน 90 เกรด A